/* General Reset */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
  background-image: url('background company.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  
  /* Header Section */
.header {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 50px;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  transition: transform 0.3s, box-shadow 0.3s;
}

.logo:hover {
  transform: rotateY(360deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.38);
}  

/* Navigation Bar */
.navbar {
  background-color: #686D76;
  overflow: hidden;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 10px;
  padding: 2px;
}

.navbar ul li {
  display: inline;
  padding: 20px 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
  background-color: #ddd;
  color: #000;
}

.header h1 {
  margin: 20px 0;
  font-size: 2em;
}
  
  /* Content Section */
.content {
  color: black;
  padding: 20px;
}

/* Product Container */
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product-card {
  background-color: #E4E0E1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  width: 250px;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  border-radius: 10px;
  height: 150px;
  width: 100%;
}

.product-card h3 {
  font-size: 24px;
  margin: 10px 0;
}

.product-card p {
  font-size: 18px;
  margin: 10px 0;
}

.product-card .price {
  color: #ff9800;
  font-size: 15px;
  font-weight: bold;
}

.product-card .buy-btn, .product-card .cart-btn {
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.product-card .cart-btn {
  background-color: #545d60;
}

.product-card .buy-btn:hover, .product-card .cart-btn:hover {
  background-color: #45a049;
}

.product-card .cart-btn:hover {
  background-color: #005f73;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.footerNav {
  display: flex;
  justify-content: center;
  padding: 3px 0;
}

.footerBottom {
color: #fff;
text-align: center;
padding: 5px 0;
width: 100%;
}

footer .footerNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .footerNav ul li {
  display: inline;
  margin: 0 15px;
}

footer .footerNav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

footer .footerNav ul li a:hover {
  color: #ddd;
}

footer .footerBottom {
  margin-top: 20px;
  font-size: 0.9em;
}